flows.json
[{"id":"595360db.19407","type":"tab","label":"Thermostats","disabled":false,"info":""},{"id":"dd592290.64404","type":"tab","label":"Garage","disabled":false,"info":""},{"id":"683790e7.77816","type":"tls-config","z":"","name":"","cert":"/home/pi/IoT/certs/776874e971-certificate.pem.crt","key":"/home/pi/IoT/certs/776874e971-private.pem.key","ca":"","certname":"","keyname":"","caname":"","servername":"ao5fja6bl9pjf-ats.iot.us-east-1.amazonaws.com","verifyservercert":true},{"id":"de31d752.25efb8","type":"mqtt-broker","z":"","name":"","broker":"ao5fja6bl9pjf-ats.iot.us-east-1.amazonaws.com","port":"1883","tls":"683790e7.77816","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e05ecc04.6c2d3","type":"inject","z":"595360db.19407","name":"Fan On","topic":"","payload":"{\"fmode\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["86e310a5.4b294"]]},{"id":"9ed8a5c7.f2c4f8","type":"http request","z":"595360db.19407","name":"Post Arriba","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.5.253/tstat","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":100,"wires":[["62a4e193.3480c"]],"inputLabels":["payload"]},{"id":"bbae84e.0fbae78","type":"http request","z":"595360db.19407","name":"Post Abajo","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.5.252/tstat","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":180,"wires":[["62a4e193.3480c"]],"inputLabels":["payload"]},{"id":"f94c7380.c80af","type":"inject","z":"595360db.19407","name":"Fan Off","topic":"","payload":"{\"fmode\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["86e310a5.4b294"]]},{"id":"86e310a5.4b294","type":"delay","z":"595360db.19407","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":140,"wires":[["a54ab66a.aebf38","3d69db93.33fd94"]]},{"id":"85483e60.166cd","type":"inject","z":"595360db.19407","name":"Every minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["8c7f0825.2e6de8"]]},{"id":"8c7f0825.2e6de8","type":"http request","z":"595360db.19407","name":"Get Arriba","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.5.253/tstat","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":40,"wires":[["c1d2cdd3.b0ba3","ab07f879.de40c8"]],"inputLabels":["payload"]},{"id":"c1d2cdd3.b0ba3","type":"debug","z":"595360db.19407","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":40,"wires":[]},{"id":"a54ab66a.aebf38","type":"delay","z":"595360db.19407","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":180,"wires":[["827e2bdb.173f38"]]},{"id":"c255065.afcf2f8","type":"delay","z":"595360db.19407","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":100,"wires":[["3d69db93.33fd94"]]},{"id":"ab07f879.de40c8","type":"function","z":"595360db.19407","name":"Thermostats Mode","func":"context.global.master = msg.payload;\nif (msg.payload.temp > 75 && msg.payload.tmode == 1)\n    msg.payload = { tmode: 2, hold: 1 };\nelse if (msg.payload.temp < 70 && msg.payload.tmode == 2)\n    msg.payload = { tmode: 1, hold: 1 };\nelse if (msg.payload.hold != 1)\n    msg.payload = { hold: 1 };\nelse msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":100,"wires":[["86e310a5.4b294","c9b79189.5281e"]]},{"id":"62a4e193.3480c","type":"debug","z":"595360db.19407","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":140,"wires":[]},{"id":"827e2bdb.173f38","type":"switch","z":"595360db.19407","name":"!={}","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":180,"wires":[["bbae84e.0fbae78"]]},{"id":"3d69db93.33fd94","type":"switch","z":"595360db.19407","name":"!={}","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":100,"wires":[["9ed8a5c7.f2c4f8"]]},{"id":"c9b79189.5281e","type":"http request","z":"595360db.19407","name":"Get Abajo","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.5.252/tstat","tls":"","persist":false,"proxy":"","authType":"","x":120,"y":140,"wires":[["b5437385.de25b","8e2a7406.96f6a8"]],"inputLabels":["payload"]},{"id":"b5437385.de25b","type":"function","z":"595360db.19407","name":"Abajo State","func":"var tmode   = msg.payload.tmode;\nvar temp    = msg.payload.temp;\nvar tset    = tmode == 1 ? msg.payload.t_heat : msg.payload.t_cool;\nvar delta   = context.global.master.tstate == 1 ? 1.5 : context.global.master.tstate == 2 ? -1.5 : 0; \nmsg.payload = {};\nif (tmode != 0 && temp + delta != tset) {\n    if (tmode == 1)  msg.payload = { t_heat: temp + delta };\n    if (tmode == 2)  msg.payload = { t_cool: temp + delta };\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":180,"wires":[["a54ab66a.aebf38"]]},{"id":"8e2a7406.96f6a8","type":"debug","z":"595360db.19407","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":140,"wires":[]},{"id":"dc0af67c.1d7b58","type":"inject","z":"dd592290.64404","name":"Activate","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["80b4adaf.464fe"]]},{"id":"ca079f8c.5490c","type":"mqtt in","z":"dd592290.64404","name":"","topic":"$aws/things/GarageDoor/shadow/update/documents","qos":"2","datatype":"auto","broker":"de31d752.25efb8","x":260,"y":260,"wires":[["d35d507c.48ca"]]},{"id":"d35d507c.48ca","type":"debug","z":"dd592290.64404","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":260,"wires":[]},{"id":"80b4adaf.464fe","type":"exec","z":"dd592290.64404","command":"sudo /home/pi/IoT/garageDoorPress.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":100,"wires":[["d72d3455.a52e78"],["d72d3455.a52e78"],["d72d3455.a52e78"]]},{"id":"d72d3455.a52e78","type":"debug","z":"dd592290.64404","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":100,"wires":[]}]